<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>

  <style>


  </style>
</head>
<body>
<h2>회원가입</h2>

<form th:action="@{/member/register}" method="post" th:object="${member}">
  <!-- CSRF: 시큐리티에서 켜져 있으면 아래 주석 해제 -->
  <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->

  <label>아이디: </label>
  <input type="text" th:field="*{memberId}" id="memberId"/>
  <span id="idMsg"></span><br>

  <label>비밀번호: </label>
  <input type="password" th:field="*{memberPwd}"/><br>

  <label>이름: </label>
  <input type="text" th:field="*{memberName}"/><br>

  <label>이메일: </label>
  <input type="email" th:field="*{email}"/><br>

  <label>생년월일: </label>
  <input type="date" th:field="*{memberBdate}"/><br>

  <label>성별: </label>
  <select th:field="*{memberGender}">
    <option value="M">남자</option>
    <option value="F">여자</option>
  </select><br>

  <button type="submit">회원가입</button>
</form>

</body>
</html>
